*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pri-color: #001A6E;
    --sec-color: #074799;
    --acc-color: #009990;
    --acc-lite: #E1FFBB;
    --white: #f6f6f6;
  }

.container{
    width: 92%;
    margin-inline: auto;
}

.top-margin{
    margin-top: 5rem;
}

header{
    position: relative;
}

header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

header nav{
    display: none;
}

header img{
    width: 2.8rem;
    height: 2.8rem;
}

header button{
    all:  unset;
    color: var(--white);
    font-size: 2rem;
}

.dropdown{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #b3b3b3;
    z-index: 10;
    padding: 1rem;
    display: none;
}

.dropdown li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    /* border-bottom: 1px solid #f6f6f6; */
    padding: 0.3rem 0;
}

.dropdown a{
    text-decoration: none;
    color: var(--pri-color);
    text-transform: capitalize;
    font-size: 1.1rem;
}

.show{
    display: block;
}

@media (min-width: 1000px){
    .container{
        width: 90%;
    }

    .top-margin{
        margin-top: 7rem;
    }

    header > div{
        padding: 1rem 0;
    }

    header .mobile{
        display: none;
    }

    header nav{
        display: flex;
        gap: 2rem;
    }

    header nav a{
        color: var(--white);
        text-decoration: none;
        text-transform: capitalize;
        font-size: 1.2rem;
        font-weight: 600;
    }

    header nav a:hover{
        color: var(--acc-color);
    }
}