*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pri-color: #001A6E;
    --sec-color: #074799;
    --acc-color: #009990;
    --acc-lite: #E1FFBB;
    --white: #f6f6f6;
  }

.container{
    width: 92%;
    margin-inline: auto;
}

.top-margin{
    margin-top: 5rem;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}

.services h2{
    color: var(--white);
    text-transform: capitalize;
    font-size: 2rem;
}

.services > div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background-color: #009990; */
}

.services > div > div{
    background-color: rgba(246, 246, 246, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    border-radius: 10px;
    width: 70%;
    height: 10rem;
    margin-inline: auto;
    text-transform: capitalize;
    padding: 1rem 0.5rem;
    cursor: pointer;
}

.services h3{
    font-size: 1.1rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.4;
}

.services i{
    font-size: 2rem;
    color: var(--pri-color);
}

@media (min-width: 370px){
    .services > div > div{
        max-width: 10rem;
        height: 10rem;
    }

    .services > div{
        flex-direction: row;
        flex-wrap: wrap;
    }
}


@media (min-width: 768px){
    .services > div > div{
        flex-shrink: 0;
    }
}

@media (min-width: 1000px){
    .container{
        width: 90%;
    }

    .top-margin{
        margin-top: 7rem;
    }

    .services > div > div{
        max-width: 13rem;
        height: 10rem;
    }

    .services h2{
        font-size: 2.3rem;
    }

    .services h3{
        font-size: 1.1rem;
    }

    .services i{
        font-size: 2.5rem;
    }
}